.listItem {
  flex: 1;
  max-width: 11.9rem;
  margin-top: 20px;
  transition: 300ms ease;
  transition-property: background-color, color, box-shadow;
}
.listItemCard {
  cursor: pointer;
  transition: 200ms ease;
  transition-property: background-color, color, box-shadow;
}
.listItemCard:hover {
  box-shadow: 0 10px 10px -10px rgba(33, 35, 38, 0.1);
  background-color: #008060;
  color: white;
  border-color: transparent;
}
.cardTitle {
  margin-bottom: 0px;
}
.cardBody {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.year {
  margin: 0;
}
.cardContent {
}
