.App {
  text-align: center;
  background-color: #fbf7ed;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  box-shadow: 0 10px 10px -10px rgba(33, 35, 38, 0.1);
}
.github {
  margin: auto;
  width: 85%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}
